<%= form_with(model: @weight )do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div class="mb-3">
        <div class="mb-3 text-left>
        　<%= f.label :weight_date_1i, '日付' %>
          <%= f.date_select :weight_date %>
        </div>
        <div class="mb-3">
          <%= f.label :daily_weight, '体重'%>
          <%= f.text_field :daily_weight, class: 'form-control'%>
        </div>

          
    </div>
    <%= f.submit '体重を記録する', class: 'btn btn-warning w-100' %>
    
    
       
    
<% end %>