<%= form_with(model: @food )do |f| %>
    <div class="mb-3">
        <div class="mb-3">
        　<%= f.label :meal_date, '日付' %>
          <%= f.date_select :meal_date, {}, class: 'form-control' %>
        </div>
        <div class="mb-3">
          <%= f.label :meal_time, '時間' %>
          <%= f.select :meal_time, [["朝食", "朝食"], ["昼食", "昼食"],["夕食", "夕食"],["間食", "間食"]], include_blank: "選択して下さい" %>
        </div>

          <%= f.label :name, '名前'%>
          <%= f.text_field :name, class: 'form-control', rows: 5 %>
          <%= f.label :kcal, 'カロリー' %>
          <%= f.text_field :kcal, class: 'form-control', rows: 5 %>
          <%= f.label :protein, 'タンパク質' %>
          <%= f.text_field :protein, class: 'form-control', rows: 5 %>
          <%= f.label :fat, '脂質' %>
          <%= f.text_field :fat, class: 'form-control', rows: 5 %>
          <%= f.label :carbo, '炭水化物' %>
          <%= f.text_field :carbo, class: 'form-control', rows: 5 %>
    </div>
    <%= f.submit '食事を追加する', class: 'btn btn-warning w-100' %>
    
    
        <div class="mt-5 mb-3"><label>過去の食事から選ぶ</label></div>
        
        <select multiple id="select_past_food" onChange='auto_input()'>

          <% @past_food.each do |food| %>
            <option><%= food.name %>,<%= food.kcal %>,<%= food.protein %>,<%= food.fat %>,<%= food.carbo %></option>
          <% end %>
       
        </select>
    
<% end %>

<script>
  var auto_input = function () {
    var element = document.getElementById("select_past_food");
    document.getElementById("food_name").value = element.value.split(",")[0];
    document.getElementById("food_kcal").value = element.value.split(",")[1];
    document.getElementById("food_protein").value = element.value.split(",")[2];
    document.getElementById("food_fat").value = element.value.split(",")[3];
    document.getElementById("food_carbo").value = element.value.split(",")[4];
  }
</script>