<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <h1 class="mb-5"><%= @day_params %>日の食事内容</h1>
    <h2 class="mb-5">合計<%= @day_calorie %>キロカロリー</h2>
    <p>タンパク質<%= @day_protein%>グラム</p>
    <p>脂質<%= @day_fat%>グラム</p>
    <p class="mb-5">炭水化物<%= @day_carbo%>グラム</p>
    <%= link_to '食事を追加する', new_food_path %>
    <h2 class="mt-5">詳細メニュー</h2>
    
    <h3 class="mt-5">朝食</h3>
    <% @day_breakfasts.each do |breakfast| %>
      <p><%= breakfast.name %></p>
      <p><%= breakfast.kcal %>キロカロリー</p>
      <%= link_to '編集', edit_food_path(breakfast) %> 
      <%= link_to '削除', breakfast, method: :delete %>
    <% end %>
    
    <h3 class="mt-5">昼食</h3>
    <% @day_lunches.each do |lunch| %>
      <p><%= lunch.name %></p>
      <p><%= lunch.kcal %>キロカロリー</p>
      <%= link_to '編集', edit_food_path(lunch) %> 
      <%= link_to '削除', lunch, method: :delete %>
    <% end %>
    
    <h3 class="mt-5">夕食</h3>
    <% @day_dinners.each do |dinner| %>
      <p><%= dinner.name %></p>
      <p><%= dinner.kcal %>キロカロリー</p>
      <%= link_to '編集', edit_food_path(dinner) %> 
      <%= link_to '削除', dinner, method: :delete %>
    <% end %>
    
    <h3 class="mt-5">間食</h3>
    <% @day_snacks.each do |snack| %>
      <p><%= snack.name %></p>
      <p><%= snack.kcal %>キロカロリー</p>
      <%= link_to '編集', edit_food_path(snack) %> 
      <%= link_to '削除', snack, method: :delete %>
    <% end %>
  </div>
</div>