<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand" href="/">Food Diary</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <% if logged_in? %>
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to '食事を追加', new_food_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '体重を記録', new_weight_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '運動内容を記録', new_diary_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'カレンダー', foods_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to '退会する', withdrawal_path, method: :delete, class: 'nav-link' %></li>
          </ul>  
        <% else %>
          <ul class="navbar-nav">
            <li class="nav-item"><%= link_to '会員登録', signup_path, class: 'nav-link' %></li>
            <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>
</header>